<%= form_with(model: task, local: true ) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> タスクの登録ができませんでした</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :タスク名 %>
    <div>
    <%= form.text_field :task_name %>
    </div>
    <div><%= form.label :詳細 %></div>
    <%= form.text_field :detail %>
    <div><%= form.label :終了期限 %></div>
    <%= form.text_field :deadline %>
    <div><%= form.label :ステータス %></div>
    <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
    <div><%= form.label :優先度 %></div>
    <%= form.select :priority, [["高", "高"], ["中", "中"], ["低", "低"]], include_blank: "選択して下さい" %>
  </div>
  <div class="actions">
  <% i = 0 %>
  <%=form.fields_for :labels do |f| %>
    <h5>ラベル<%= i +=1 %></h5>
    <div><%= f.label :label_name, "ラベル名" %></div>
    <%= f.text_field :label_name %>
  <% end %>
 <div> <%= form.submit %></div>
  </div>
<% end %>